.login-container {
  width: 100%;
  max-width: 460px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.5s ease;
  height: auto;
  min-height: 450px;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}

.login-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

.login-container p {
  font-size: 16px;
  color: #666;
}

.login-container p a {
  color: #ff8500;
  text-decoration: none;
}

.input-field {
  width: 100%;
  margin: 15px 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.password-field {
  position: relative;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

.password-field input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  box-sizing: border-box;
}

.password-field span {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.newClass {
  position: relative;
}

.forgot-password {
  display: block;
  margin: 15px 0;
  color: #ff8500;
  text-decoration: none;
  font-size: 16px;
  text-align: right;
}

.login_button:hover {
  background-color: #fe8402;
}

.login_button {
  width: 100%;
  margin: 30px 0 0;
  padding: 15px 20px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
}
